openapi: "3.0.0"
info:
  version: 1.0.0
  title: Wine Information API
  description: The Lot 18 Wine Information API microservice.
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
servers:
  - url: http://wineinfo.wineapi.com
paths:
  /vintages:
    get:
      description: Returns a list of vintages for a list of `vintage_id` values
      operationId: find_vintage_ids
      parameters:
        - name: ids
          in: query
          description: List of `vintage_id` values to filter by
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vintage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates a new vintage.
      operationId: create_vintage
      parameters:
        - name: region
          in: cookie
          description: Region chain to change existing region chain to.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: year
          in: cookie
          description: Year of the vintage.
          required: true
          schema:
            type: integer
        - name: short_tasting_note
          in: cookie
          description: Short tasting note of the vintage.
          required: true
          schema:
            type: string
        - name: tasting_note
          in: cookie
          description: Tasting note of the vintage.
          required: true
          schema:
            type: string
        - name: tastes
          in: cookie
          description: List of tastes for the vintage.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: pairings
          in: cookie
          description: List of pairings for the vintage.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: traits
          in: cookie
          description: List of traits for the vintage.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: wine_id
          in: cookie
          description: ID of wine to link to the new vintage.
          required: true
          schema:
            type: integer
        - name: attributes
          in: cookie
          description: Attribute values of the vintage. Contains values for body, fruit, earth, tannin, oak, and acidity.
          required: true
          schema:
            type: object
            properties:
              body:
                type: integer
              fruit:
                type: integer
              earth:
                type: integer
              tannin:
                type: integer
              oak:
                type: integer
              acidity:
                type: integer
        - name: image_urls
          in: cookie
          description: URLs for the vintage's images. Contains label, bottle, and bottle thumbnail values.
          required: true
          schema:
            type: object       
            properties:
              label_url:
                type: string
              bottle_url:
                type: string
              bottle_thumb_url:
                type: string
      responses:
        '200':
          description: vintage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vintage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /vintages/{id}:
    get:
      description: Returns a vintage based on a single ID.
      operationId: find_vintage_by_id
      parameters:
        - name: id
          in: path
          description: ID of vintage to fetch
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: vintage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vintage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Edit a vintage based on a single ID.
      operationId: edit_vintage
      parameters:
        - name: id
          in: path
          description: ID of vintage to edit.
          required: true
          schema:
            type: integer
        - name: year
          in: cookie
          description: Year of the vintage.
          required: true
          schema:
            type: integer
        - name: region
          in: cookie
          description: Region chain to change existing region chain to.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: short_tasting_note
          in: cookie
          description: Short tasting note of the vintage.
          required: true
          schema:
            type: string
        - name: tasting_note
          in: cookie
          description: Tasting note of the vintage.
          required: true
          schema:
            type: string
        - name: tastes
          in: cookie
          description: List of tastes for the vintage.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: pairings
          in: cookie
          description: List of pairings for the vintage.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: traits
          in: cookie
          description: List of traits for the vintage.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: attributes
          in: cookie
          description: Attribute values of the vintage. Contains values for body, fruit, earth, tannin, oak, and acidity.
          required: true
          schema:
            type: object
            properties:
              body:
                type: integer
              fruit:
                type: integer
              earth:
                type: integer
              tannin:
                type: integer
              oak:
                type: integer
              acidity:
                type: integer
        - name: image_urls
          in: cookie
          description: URLs for the vintage's images. Contains label, bottle, and bottle thumbnail values.
          required: true
          schema:
            type: object       
            properties:
              label_url:
                type: string
              bottle_url:
                type: string
              bottle_thumb_url:
                type: string
      responses:
        '200':
          description: vintage response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vintage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wines:
    get:
      description: Returns a list of wines for a list of `wine_id` values
      operationId: find_wine_ids
      parameters:
        - name: ids
          in: query
          description: List of `wine_id` values to filter by
          required: false
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vintage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates a new wine.
      operationId: create_wine
      parameters:
        - name: name
          in: cookie
          description: The name of the new wine.
          required: true
          schema:
            type: string
        - name: brand
          in: cookie
          description: The brand of the new wine. If the brand doesn't exist, it will be created.
          required: true
          schema:
            type: string
        - name: variety
          in: cookie
          description: The variety of the new wine.
          required: true
          schema:
            type: string
        - name: classification
          in: cookie
          description: The classification of the new wine.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: wine response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wine'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wines/{id}:
    get:
      description: Returns a wine based on a single ID.
      operationId: find_wine_by_id
      parameters:
        - name: id
          in: path
          description: ID of wine to fetch
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: wine response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vintage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      description: Edit a wine based on a single ID.
      operationId: edit_wine
      parameters:
        - name: name
          in: cookie
          description: The name of the wine.
          required: true
          schema:
            type: string
        - name: brand
          in: cookie
          description: The brand of the wine. If the brand doesn't exist, it will be created.
          required: true
          schema:
            type: string
        - name: variety
          in: cookie
          description: The variety of the wine.
          required: true
          schema:
            type: string
        - name: classification
          in: cookie
          description: The classification of the wine.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: wine response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wine'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Vintage:
      allOf:
        - required:
          - id
          - year
          - short_tasting_note
          - tasting_note
          - abv
          - attributes
          - region
          - grapes
          - tastes
          - pairings
          - traits
          - wine
          - image_urls
          properties:
            id:
              type: integer
            year:
              type: integer
            short_tasting_note:
              type: string
            tasting_note:
              type: string
            abv:
              type: number
            attributes:
              type: object
              properties:
                body:
                  type: integer
                fruit:
                  type: integer
                earth:
                  type: integer
                tannin:
                  type: integer
                oak:
                  type: integer
                acidity:
                  type: integer
            region:
              type: array
              items:
                type: string
            grapes:
              type: array
              items:
                type: string
            tastes:
              type: array
              items:
                type: string
            pairings:
              type: array
              items:
                type: string
            traits:
              type: array
              items:
                type: string
            wine:
              type: object
              properties:
                name:
                  type: string
                brand:
                  type: string
                variety:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
                classification:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
            image_urls:
              type: object
              properties:
                label_url:
                  type: string
                bottle_url:
                  type: string
                bottle_thumb_url:
                  type: string
              
    Wine:
      allOf:
        - required:
          - id
          - name
          - brand
          - variety
          - classification
          properties:
            id:
              type: integer
            name:
              type: string
            brand:
              type: string
            variety:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
            classification:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string  

    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string